@model UrlShortener.Models.Identity.SiteUser

@{
    ViewData["Title"] = "UserDetails";
}

<h1>@Model.UserName's Details</h1>

<div>
    <strong>Username: </strong> @Model.UserName
</div>
<div>
    <strong>First Name: </strong> @Model.FirstName
</div>