@model UrlShortener.Models.Url

@{
    ViewData["Title"] = "Home Page";
}
<div class="Clear-Div">
    <h1>ShrinkRL</h1>
</div>
<div class="UrlShortener-Box">
    <form method="Post" action="/Home/ShortenUrl">
        <h2 class="UrlShortener-Box" for="LongUrl">Shorten a Long URL </h2>
        <div>
            @if (User.Identity.IsAuthenticated)
            {   
                <h4>Url Name:</h4>
                <input type="text" asp-for="UrlName"class="form-control"/>
            }
            <h4>Url:</h4>
            <input type="text" asp-for="LongUrl" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Shorten!</button>
        <h4>
        @if (Model != null && !string.IsNullOrEmpty(Model.ShortUrl))
        {
            <p>Shortened Url: <a href="@Model.LongUrl" target="_blank">@Model.ShortUrl</a></p>
        }
        </h4>
        @if (!User.Identity.IsAuthenticated)
        {
            <p>New User? Register <a href="Account/Create/Create">Here</a></p>
        }
    </form>
</div>
